body {
  color: black;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 244, 248);
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-left: 15px;
  }
  h3,
  p {
    margin: 0;
  }
}
.content {
  h1 {
    margin: 0;
  }
}

.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 0;
    width: 14px;
    height: 14px;
    top: 16px;
    right: 10px;
  }
  input {
    border: 0;
    padding: 15px;
    font-style: 16px;
    width: 200px;
  }
}


.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    position: relative;
    width: 245px;
    margin-top: 20px;
    &:disabled {
      animation: button-loading 0.2s ease-in-out;
    }

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe;
    cursor: default !important;
  }

  &:hover {
    background: lighten($color: #9dd558, $amount: 5%);
  }
  &:active {
    background: darken($color: #9dd558, $amount: 5%);
  }
}

.cartTotalBlock {
  position: auto;
  bottom: 0;

  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }
  .greenButton {
    position: relative;
    img {
      position: absolute;
      right: 0;
    }
  }
}


.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-position: 0 10px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
